    @font-face {
    font-family: 'Futuristic Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Futuristic Regular'), url('FuturisticRegular-w1Zjz.woff') format('woff');
    }
h1 {
    font-family: 'Futuristic Regular', sans-serif;
    font-weight: 200;
    font-size: 4rem;
    color: #13cedb;
}